* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "ubuntu";
}

:root{
  --backgroundcolor: black;
  --buttoncolor: #015EEA;
  --fontcolor: #ffffff;
}

body{
  background-color: var(--backgroundcolor);
}
img {
  width: 100%;
}
header {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  background: black;
}
header .header-left {
  display: flex;
  align-items: center;
}
header .header-left .logo {
  width: 140px;
}
header .header-left nav {
  margin-left: 50px;
}
header .header-left nav ul {
  display: flex;
}
nav ul li a {
  display: block;
  color: #cfd9e0;
  font-size: 18px;
  padding: 5px 10px;
  transition: 0.2s;
}
nav ul li a:hover,
nav ul li a.active {
  color: #fff;
}
nav .login-signup {
  display: none;
}
header .header-right {
  display: flex;
  align-items: center;
}
header .login-signup {
  color: #10c71c;
  font-weight: bold;
}
header .login-signup a {
  display: inline-block;
  color: #0b2239;
  background: #4ad295;
  padding: 5px 12px;
  border-radius: 5px;
}
header .header-right .hamburger {
  margin-left: 20px;
  cursor: pointer;
  display: none;
}
header .header-right .hamburger div {
  width: 30px;
  height: 2px;
  margin: 6px 0;
  background: #fff;
}

section .hero{
  width: 100%;
  height: 50vh;
}




/* <===========hero section====================> */
.hero{
  padding: 1em 3em 1.1em;
  align-items: center;
  color: var(--fontcolor);
}

.hero span{
  color: var(--buttoncolor);
}

.official{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  
}

.image{
  width: 50%;
}

.image img{
  width:100%;
  height: auto;
  border-radius: 20px;
}



.content{
  width: 50%;
  padding: 2rem;
}

.content button{
  width: 100px;
  height: 30px;
  border-radius: 10rem;
  background-color: #015EEA;
}

.content .come,.boo .come{
  color: saddlebrown;
}

.Supphire{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  
}

.boo{
  width: 50%;
  padding: 2rem;
}

.boo button{
  width: 100px;
  height: 30px;
  border-radius: 10rem;
  background-color: #015EEA;
}



.nutrition {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.nutrition .image{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 10%
}

.nutrition .image img{
  width: 50%;
}


.play img{
  width: 150px;
  height: auto;
}

.app img{
  width: 150px;
}


@media only screen and (max-width: 1000px) {
  header {
      padding: 0 20px;
  }
  header .header-right .hamburger {
      display: block;
  }
  header .header-left nav {
      margin: 0;
      position: absolute;
      top: -100%;
      left: 0;
      width: 100%;
      height: fit-content;
      background-color: #0b2239;
      padding: 30px;
      transition: 0.3s;
      text-align: center;
      z-index: -1;
  }
  header .header-left nav.active {
      top: 70px;
      z-index: 6789;
  }
  header .header-left nav ul {
      display: block;
  }

  .hero{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .official .image img,
  .Supphire .image img,
  .nutrition .image img,
  .play img,
  .app img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }

  .official .image img {
    width: 100%;
  }
  .blue .Supphire{
    flex-direction: column-reverse;
  }
}


@media only screen and (max-width: 500px) {
  nav .login-signup {
      display: block;
      margin-top: 20px;
  }
  header .header-right .login-signup {
      display: none;
  }

  .hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .official .content,
  .Supphire .content,
  .nutrition .content {
    width: 100%;
    padding: 1rem;
  }

  .official .content button,
  .Supphire .content button,
  .nutrition .content button {
    width: 80px;
    height: 25px;
  }

  
  .nutrition .image img{
    width: 100%;
    border-radius: 10px;
  }

  .official .image,.Supphire .image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .official .image img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .blue .Supphire{
    flex-direction: column-reverse;
  }

  .boo{
    width: 100%;
  }
 
}